body {
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Noto Sans', sans-serif;
    font-size:11;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

small{
    font-size: .7em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
}

.inputclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}